@import "common";

.slides {
    height: 100vh;
    position: relative;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slides__item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.active {
    opacity: 1;
    z-index: 2;
}

.slides__item:nth-of-type(1) {
    background: red;
    background-image: url("../img/1.jpg");
    background-size: cover;
   
}

.slides__item:nth-of-type(2) {
    background: orange;
    background-image: url("../img/2.jpg");
    background-size: cover;
   
}

.slides__item:nth-of-type(3) {
    background: green;
    background-image: url("../img/3.jpg");
    background-size: cover;
}

.slides__item:nth-of-type(4) {
    background: blue;
    background-image: url("../img/4.jpg");
    background-size: cover;
}

.slides__item:nth-of-type(5) {
    background: purple;
    background-image: url("../img/5.jpg");
    background-size: cover;
}



.indicators .active {
    background-color: red;
}

.indicators {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    list-style: none;
    padding: 0;
    margin:0;
}


.indicators__item {
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    margin: 10px;
    border: 2px solid #ff2e2e;
    border-radius: 50%;
    
}

.controls__item-pause {
    position: absolute;
    top: 80%;
    z-index: 2;
}

.controls__item-next {
    position: absolute;
    top: 50%;
    left: 90%;
    z-index: 2;
}

.controls__item-prev {
    position: absolute;
    top: 50%;
    right: 90%;
    z-index: 2;
}