@import 'common';

.slides
{
    position: relative;

    height: 100vh;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.slides__item
{
    font-size: 40px;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 40px;

    transition: opacity 1s;

    opacity: 0;
    color: #fff;
    background: #333;
}

.active
{
    z-index: 2;

    opacity: 1;
}

.slides__item:nth-of-type(1)
{
    background: red;
    background-image: url('../img/1.jpg');
    background-size: cover;
}

.slides__item:nth-of-type(2)
{
    background: orange;
    background-image: url('../img/2.jpg');
    background-size: cover;
}

.slides__item:nth-of-type(3)
{
    background: green;
    background-image: url('../img/3.jpg');
    background-size: cover;
}

.slides__item:nth-of-type(4)
{
    background: blue;
    background-image: url('../img/4.jpg');
    background-size: cover;
}

.slides__item:nth-of-type(5)
{
    background: purple;
    background-image: url('../img/5.jpg');
    background-size: cover;
}



.indicators .active
{
    background-color: red;
}

.indicators
{
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 50%;

    margin: 0;
    padding: 0;

    list-style: none;

    transform: translate(-50%, -50%);
}


.indicators__item
{
    display: inline-block;

    width: 15px;
    height: 15px;
    margin: 10px;

    border: 2px solid #ff2e2e;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
}

.controls__item-pause
{
    position: absolute;
    z-index: 2;
    top: 80%;
}

.controls__item-next
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 90%;
}

.controls__item-prev
{
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 90%;
}
